@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', sans-serif;
    padding: 0;
    margin: 0;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MuiCard-root {
    width: 16em;
    height: auto;
    margin-top: 10%;
}

.MuiCardMedia-root {
    width: 16em;
    height: 16em;
}

.product-card-text--title, .product-card-text--price {
    font-size: 0.85rem;
}


.home-hero-image {
    background-image: url('./Images/oriento-NO4e9-oru8Q-unsplash.jpg');
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-hero-image-contents-container {
    width: 100%;
    height: auto;
    display: flex;
}

.home-hero-image-contents {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
}

.home-hero-image--text {
    font-size: 3.8rem;
    margin-bottom: 5%;
    text-align: center;
}

.home-hero-image--text, .home-hero-image--button {
    color:rgba(0, 0, 0, 0.767);
}

.home-hero-image--button  {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.767);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.home-hero-image--button:hover,
.home-hero-image--button:focus {
    background: rgba(0, 0, 0, 0.767);
}

.home-hero-image--button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.home-hero-image--button:active {
    transform: scale(0.99);
}

.navbar-title {
    font-size: 1.6rem;
    font-family: 'Thasadith', sans-serif;
    font-weight: 800;
    color: #000;
}

.side-nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 10;
    width: 25%;
    height: 100vh;
    border: 1px solid rgba(194, 192, 192, 0.301);
}  

.exit-icon {
    padding: 10%;
}

.side-nav-container-links {
    list-style-type: none;
}

.side-nav-links {
    cursor: pointer;
}

.side-nav-links:hover {
    color:rgba(31, 30, 30, 0.678);
}

.side-nav-links, .side-nav-title {
    color: #000;
    line-height: 2.5;
}

.side-nav-title {
    display: flex;
    justify-content: center;
}

.discount-grid {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 80vw;
    margin: auto;
}

.discount-card {
    display: flex;
    height: 5%;
    position: relative;
}

.discount-card-text {
text-align: center;
}

.copy-icon-container {
    position: absolute;
    right: 0;
    top: 0;
}

.copy-icon {
    cursor: pointer;
}

.copy-icon-container:hover {
    background-color: rgba(167, 164, 164, 0.315);
    border-radius: 50%;
}