@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: 'Roboto-Light';
    src: url(./Fonts/Roboto-Light.ttf);
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url(./Fonts/Roboto-Medium.ttf);
  }

body {
    font-family: 'Roboto-Regular', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.product-cards, .category-product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MuiCard-root {
    width: 16em;
    height: auto;
    margin-top: 10%;
}

.MuiCardMedia-root {
    width: 16em;
    height: 16em;
}

.product-card-text--title {
    font-family: 'Roboto-Medium';
}


.product-card-text--title, .product-card-text--price {
    font-size: 0.9rem;
}


.home-hero-image {
    background-image: url('./Images/home-hero-image.jpg');
    width: 90vw;
    height: 80vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-hero-image-contents-container {
    width: 100%;
    height: auto;
    display: flex;
}

.home-hero-image-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.home-hero-image--text {
    font-family: 'Roboto-Medium';
    font-size: 3rem;
    margin-top: 20%;
    text-align: center;
    color: #000;
    margin-block-end: 5%;
}

.home-hero-image--button  {
    border: none;
    padding: 0.8rem 2rem;
    text-decoration: none;
    background: #000;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
}

.home-hero-image--button:hover,
.home-hero-image--button:focus {
    background: rgba(0, 0, 0, 0.767);
}

.home-hero-image--button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.home-hero-image--button:active {
    transform: scale(0.99);
}

.menu-icon, .hamburger-icon-container {
    visibility: hidden;
}

.navbar {
    margin: auto;
    width: 90%;
    position: relative;
}



.navbar-title {
    position: absolute;
    left: 45%;
    top: 0;
    font-size: 1.8rem;
    font-family: 'Roboto-medium';
    color: #000;
}

.navbar-searchbar {
    position: absolute;
    left: 0;
    top:0;
    padding-top: 25px;
}

.search-bar {
    position: relative;
    border-bottom: #000 1px solid;
}

.search-bar-input {
    padding: 0.6rem;
    border: none;
    width: 250px;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-icon {
    position: absolute;
    right: 0;
    color: #000;
    padding: 3px 3px 5px 0;
    cursor: pointer;
}

.add-to-cart-container {
    position: absolute;
    right: 5px;
    top: -40px;
}

.shopping-basket-icon {
    color: #000;
}

.category-options-container {
    padding-top: 40px;
}

.category-options {
    position: absolute;
    bottom: 0;
}  


.category-links-container {
    width: 100vw;
    margin: auto;
}
.discount-text-carousel {
    color: #000;
    text-align: center;
    font-weight: 800;
}

.discounts-carousel-container {
    border-top: #000 solid 2px;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: rgba(169, 169, 169, 0.493);
}


.discounts-carousel {
    position: absolute;
    top: 0;
    color: #000;
    z-index: 10;
}

.side-nav-container-links {
    width: 90vw;
    margin: 5px;
    padding: 0;
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
}

.side-nav-links {
    cursor: pointer;
}

.side-nav-links:hover {
    color:rgba(31, 30, 30, 0.678);
}

.side-nav-links, .side-nav-title {
    color: #000;
    line-height: 2.5;
}

.product-info-container {
    position: relative;
}

.products-category-info-container {
    display: flex;
    align-items: center;
}

.products-category-title {
    margin-right: 20px;
    margin-left: 50px;
    font-size: 1.8rem;
    font-weight: 800;
}

.products-category-results, .product-search-results {
    color: rgba(71, 70, 70, 0.89);   
}

.product-search-results {
    margin-left: 60px;
}

.product-info-main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 100vw;
}

.product-info-first-column {
    width: 700px;
    height: 700px;
    margin-right: 50px;
}

.product-info-second-column {
    width: 40%;
}


.product-info-third-column {
    width: 90vw;
    display: flex;
    margin: auto;
}

.product-info-name {
    font-size: 1.5rem;
    font-family: 'Roboto-Medium';
    margin-block-start: auto;
}

.product-info-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-page-details {
    width: 500px;
}

.product-page-details-text {
    background-color: rgba(194, 192, 192, 0.397);
    padding: 10px;
    font-family: 'Roboto-Medium';
}

.product-info-desc{
    line-height: 1.6;
}

.reviews-container {
    display: flex;
    align-items: center;
}

.no-reviews-text {
    margin-left: 10px;
    font-size: 0.9rem;
}

.quantity-dropdown {
    width: 100px;
    padding: 8px;
    margin: 10px 0 50px 0;
}

.product-info-free-shipping {
    margin: 50px 0 20px 0;
}

.product-info-free-shipping, .no-reviews-text {
    color:rgba(71, 70, 70, 0.89);
}

.shopping-cart-desc-headers-container {
    display: flex;
    margin-left: 120px;
}

.shopping-cart-products-main-container, .shopping-cart-desc-headers-container {
    width: 70vw;
}
.shopping-cart-desc-headers-item {
    width: 38%;
}

.shopping-cart-desc-headers-quantity, .shopping-cart-desc-headers-price {
    width: 25%;
}

.shopping-cart-items-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.shopping-cart-items-column {
    margin-left: 30px;
    width: 20%;
}

.shopping-cart-items-button-column {
    width: 5%;
}

#shopping-cart-item-divider {
    width: 83%;
    margin: auto;
}

.shopping-cart-info-container {
    position: relative;
}

.card-add-to-cart-btn {
 background-color: rgba(235, 232, 232, 0.842);
 border-radius: 5px;
 padding: 0.3rem;
 cursor: pointer;
 border: none;
}

.product-page-add-to-cart-btn {
    border: none;
    padding: 1rem 13rem;
    text-decoration: none;
    background: #000;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.cart-total-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    width: 500px;
}

.cart-paper {
    width: 300px;
    height: auto;
    position: fixed;
    padding: 10px;
}

.cart-title {
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.product-page-related-products-section {
    width: 90vw;
    margin:auto;
}

.related-products-header {
    margin-top: 50px;
    font-weight: 800;
    font-size: 1.3rem;
}

.related-products-container {
    margin-left: 15px;
}

.related-products-image {
    width: 275px;
    height: 275px;
    object-fit: cover;
    transition: .5s ease;
}

.related-products-image-container {
    position: relative;
}

.related-products-info {
    position: absolute;
    top: 50px;
    left: 30px;
    font-family: 'Roboto-Medium';
    font-size: 1.3rem;
}

.notdisplayed {
    display: none;
  }

.display {
    margin: 10px;
    display: block;
    text-decoration: underline;
}

.related-products-image-container:hover .related-products-image {
    opacity: 0.3;
} 

.checkout-button {
    border: none;
    width: 100%;
    padding: 0.8rem;
    text-decoration: none;
    background: rgb(141, 37, 37);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.cart-quantity-input {
    width: 100px;
    padding: 3px;
}

.checkout-stepper-container {
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 515px;
}

#form-margin {
    margin: 5px;
}

/* .payment-info {
    width: 500px;
    height: auto;

} */

/* @media only screen and (max-width: 600px) {
    .side-nav {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 10;
        width: 25%;
        height: 100vh;
        border: 1px solid rgba(194, 192, 192, 0.301);
    }  
    .menu-icon {
        padding: 10%;
    }
    .menu-icon, .hamburger-icon-container {
        visibility:visible;
    }
    .category-links-container {
        display: none;
    }
    
    .border {
        border: none;
    }
    .navbar-searchbar {
        display: none;
    }
} */